#ap_login{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0.5, 0, 2);
    -fx-background-color:  #3a92e4;
}
#ap_login:hover{
    -fx-background-color: #1e4a6d;
}
#ap_login:pressed{
    -fx-background-color: #381219;
}
#ap_edit{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0.5, 0, 2);
    -fx-background-color:  #3a92e4;
}
#ap_edit:hover{
    -fx-background-color: #1e4a6d;
}
#ap_edit:pressed{
    -fx-background-color: #381219;
}
#ap_signup{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0.5, 0, 2);
    -fx-background-color:  #3a92e4;
}
#ap_signup:hover{
    -fx-background-color: #1e4a6d;
}
#ap_signup:pressed{
    -fx-background-color: #4f1e30;
}
